.vercel
node_modules/
dist/
.astro/
.DS_Store
.env
.pnpm-store/
git_store.nosync/
git_store_broken.nosync/
.agents/
skills-lock.json
*.dmg
Go Vap 1 - 9m5 v2/
Arm VisionX Stealth .webp
ChatGPT Image Jun 21, 2026, 10_31_02 PM.png
.env*
